.main {
  width: 600px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  border-style: solid;
  border: 1px solid;
  padding: 20px;

  /* Others */
  font-family: Arial, Helvetica, sans-serif;
}

.top-header {
  background-color:DodgerBlue;
  padding: 4px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  margin:0px;
}

.description {
  margin: 5px;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 15%;
    padding: 15px;
    text-align: left;
}

.column2 {
    float: left;
    width: 70%;
    padding: 15px;
    text-align: left;
}

.row:after {
    content: "";
    display: table;
    clear: both;

}
