/*-- Main page  */

.main {

  /* This makes the page to be centered on the screen */
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;

  /* Box */
  width: 400px;
  border-style: solid;
  border: 1px solid;
  padding: 20px;

  /* Others */
  font-family: Arial, Helvetica, sans-serif;
}

.top-header {
  background-color:DodgerBlue;
  padding: 0px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.top-link {
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0px;
  width: 100%;
}

.top-link:hover, .top-link:active {
    background-color: rgb(0, 81, 255);
}

h1 {
  text-align: center;
  background-color: rgb(0, 209, 255);
  font-size:27px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.image {
 text-align: center;
}

h3 {
  border-left: 6px solid DodgerBlue;
  padding-left: 16px;
  background-color: #FFFFE6;
  padding-top: 6px;
  padding-bottom: 6px;
}

.butn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.butn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.center {
  text-align: center;
}
